### Pandas :)

In [6]:
import pandas as pd
s = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5})
print(s)

Matemáticas     6.0
Economía        4.5
Programación    8.5
dtype: float64

In [22]:
print('size',s.size)
print('index', s.index)
print('type',s.dtype)
print('name',s.copy().index)

print(s.std())

size 3
index Index(['Matemáticas', 'Economía', 'Programación'], dtype='object')
type float64
name Index(['Matemáticas', 'Economía', 'Programación'], dtype='object')
2.0207259421636903

### Operaciones!!!!

In [27]:
numbers = pd.Series([1, 2, 3, 4])
numbers.apply(print('resultado',numbers*2))

resultado 0    2
1    4
2    6
3    8
dtype: int64

TypeError: 'NoneType' object is not callable

## Consdicionales

In [31]:
s = pd.Series({'Matemáticas': 6.0, 'Economía': 4.5, 'Programación': 8.5})
print(s[s >9])

Series([], dtype: float64)

In [33]:
import pandas as pd
import numpy as np
s = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
print(s)

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

### limpiando con dropna()

In [34]:
print(s.dropna())

0    a
1    b
3    c
5    d
dtype: object

### DATAFRAME
* A partir de un dict

In [35]:
datos = {
    'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],
    'edad': [18, 22, 20, 21],
    'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],
    'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
}
df = pd.DataFrame(datos)
print(df)

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

# a ppartir de una lista de listas

In [36]:
import pandas as pd

data = [
    [1, 'Alice', 23],
    [2, 'Bob', 30],
    [3, 'Charlie', 25]
]
df = pd.DataFrame(data, columns=['ID', 'Nombre', 'Edad'])
print(df)

   ID   Nombre  Edad
0   1    Alice    23
1   2      Bob    30
2   3  Charlie    25

# a ppartir de  un array NumPy

In [37]:
import pandas as pd
import numpy as np

data = np.random.randn(4, 3)
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

          A         B         C
0  0.012177  0.443071 -1.983540
1  0.248906 -1.056903  0.292884
2  0.451852 -1.902910 -0.386777
3 -0.428406  0.839085 -0.947624

In [ ]:
* desde un csv o excel

In [ ]:
import pandas as pd

# Leer CSV
df_csv = pd.read_csv('datos.csv', sep=',', header=0)
print(df_csv)

# Leer Excel
#df_excel = pd.read_excel('datos.xlsx', sheet_name='Hoja1')
#print(df_excel)