## Tabla: Usuarios

In [1]:
from app.utils import notebook_utils

notebook_utils.show_table_data("Usuarios")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UsuarioID      1000 non-null   int64
 1   Nombre         1000 non-null   object
 2   Apellido       1000 non-null   object
 3   DNI            1000 non-null   object
 4   Email          1000 non-null   object
 5   Contraseña     1000 non-null   object
 6   FechaRegistro  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 54.8+ KB

None

,UsuarioID,Nombre,Apellido,DNI,Email,Contraseña,FechaRegistro
0,1,Encarna,Donaire,49877134,encarna.donaire1@correo.com,Contraseña123,2025-07-22 21:44:41.060272
1,2,Jose Ignacio,Canales,98778810,jose ignacio.canales2@correo.com,Contraseña123,2025-07-22 21:44:41.060272
2,3,José,Sebastián,80095714,josé.sebastián3@correo.com,Contraseña123,2025-07-22 21:44:41.060272
3,4,Priscila,Vilar,94128750,priscila.vilar4@correo.com,Contraseña123,2025-07-22 21:44:41.060272
4,5,Epifanio,Ríos,62958342,epifanio.ríos5@correo.com,Contraseña123,2025-07-22 21:44:41.060272

#### 1. Información general

* Número de registros: 1000
* Número de columnas: 7

#### 2. Esquema

| Columna       | Tipo de dato | Valores no nulos | Observaciones                         |
| -----------   | ------------ | ---------------- | --------------------------------------|
| UsuarioID     | int64        | 1000             | Clave primaria.                       |
| Nombre        | object       | 1000             | Texto. No hay valores faltantes.      |
| Apellido      | object       | 1000             | Texto.                                |
| email         | object       | 1000             | texto.                                |
| Contraseña    | object       | 1000             | Unidades disponibles.                 |
| FechaRegistro | datetime     | 1000             | Fecha registro de usuario, default now|

Observaciones
* No hay columnas con valores nulos.
* Estructura: los tipos de datos parecen consistentes al atributo que describen
* La columna `Contraseña` debería almacenar un hash, no texto plano.

In [2]:
notebook_utils.show_duplicates_and_null_info("Usuarios")

UsuarioID        0.0
Nombre           0.0
Apellido         0.0
DNI              0.0
Email            0.0
Contraseña       0.0
FechaRegistro    0.0
dtype: float64

np.int64(0)

#### 3. Calidad de datos
* **Valores nulos:** No se encontraron columnas con valores faltantes.

* **Duplicados:** No se detectaron registros duplicados.

* **Tipos de datos:** los tipos de datos parecen consistentes al atributo que describen

* **Claves:** Las claves numéricas (UsuarioID) son consistentes. 

* * **Clave primaria(s):** UsuarioID, es unico y sin nulos

* * **Claves foráneas:** -

In [3]:
from app.utils import notebook_utils

notebook_utils.show_table_stats("Usuarios")

         UsuarioID                  FechaRegistro
count  1000.000000                           1000
mean    500.500000  2025-07-22 21:44:41.060271616
min       1.000000     2025-07-22 21:44:41.060272
25%     250.750000  2025-07-22 21:44:41.060272128
50%     500.500000  2025-07-22 21:44:41.060272128
75%     750.250000  2025-07-22 21:44:41.060272128
max    1000.000000     2025-07-22 21:44:41.060272
std     288.819436                            NaN

#### 4. Anáslisis estadístico
* No se incluyen estadísticos detallados ya que los valores numéricos (UsuarioID y FechaRegistro) no aportan información relevante al momento.

#### 5. Preguntas de negocio

* ¿Cuántos usuarios se registran por mes? 

* ¿Cuántos usuarios han realizado más de una orden?

* ¿Cuántos usuarios registrados no han hecho ninguna compra?

* ¿Qué usuarios han gastado más en total?

* ¿Cuántos usuarios han dejado reseñas?

In [4]:
from app.utils import postgres_utils, notebook_utils
query = """
SELECT 
    DATE_TRUNC('month', "FechaRegistro") AS register_month, 
    COUNT(*) AS users 
FROM "Usuarios" 
GROUP BY register_month 
ORDER BY register_month
"""

notebook_utils.print_colored("¿Cuántos usuarios se registran por mes?", "green")

postgres_utils.run_query(query)

  register_month  users
0     2025-07-01   1000

__Observación__: Todos los registros comparten el mismo valor en FechaRegistro (probablemente default del sistema), lo que invalida el análisis por mes. Se descarta esta dimensión hasta contar con datos representativos.

In [5]:
from app.utils import postgres_utils, notebook_utils
query = """
SELECT 
    COUNT(DISTINCT "UsuarioID") AS users_with_multiple_orders
FROM "Ordenes"
WHERE "UsuarioID" IN (
    SELECT "UsuarioID"
    FROM "Ordenes"
    GROUP BY "UsuarioID"
    HAVING COUNT(*) > 1
);
"""

notebook_utils.print_colored("¿Cuántos usuarios han realizado más de una orden?", "green")

postgres_utils.run_query(query)

   users_with_multiple_orders
0                        1000

de los mil usuarios registrados 999 han comprado mas de una vez.
Seria interesante concer fecha de regitstro real para conocer tiempo qe demora en comprar

In [6]:
# ¿Qué usuarios han gastado más en total?

from app.utils import postgres_utils, notebook_utils
query = """
SELECT 
    "UsuarioID",
    SUM("Total") AS total_spent
FROM "Ordenes"
GROUP BY "UsuarioID"
ORDER BY total_spent DESC
LIMIT 10;
"""
notebook_utils.print_colored("¿Qué usuarios han gastado más en total?", "green")
postgres_utils.run_query(query)

   UsuarioID  total_spent
0        411     32342.70
1        379     32341.14
2        951     32152.02
3         25     31643.07
4        382     31487.88
5        878     30877.86
6         15     30336.87
7        390     30298.62
8        913     29765.79
9        892     29654.55

In [7]:
# ¿Cuántos usuarios han dejado reseñas?

from app.utils import postgres_utils, notebook_utils
query = """
SELECT 
    COUNT(DISTINCT "UsuarioID") AS users_with_reviews
FROM "ReseñasProductos";
"""
notebook_utils.print_colored("¿Cuántos usuarios han dejado reseñas?", "green")
postgres_utils.run_query(query)

   users_with_reviews
0                1000

### 5. Resumen de análisis y acciones propuestas de preprocesamiento y calidad de datos

A partir del análisis exploratorio de la tabla `Usuarios`, se proponen las siguientes acciones de limpieza y mejora de calidad:

#### 5.1 Valores nulos

- **Diagnóstico:** No se encontraron columnas con valores nulos.
- **Acción:** No se requiere imputación o eliminación. Se mantiene la estructura original.

#### 5.2 Duplicados

- **Diagnóstico:** No se detectaron registros duplicados.
- **Acción:** No se requiere limpieza en este aspecto. Se debe garantizar unicidad de DNI e email al realizar nuevos registros

#### 5.3 Valores atípicos

- **Diagnóstico:** No hay valores numericos atípicos. FechaRegistro presenta un valor constante, probablemente por ser una carga masiva o un default.
- **Acción propuesta:** 
  - Validar proceso de carga de fechaRegistro ya que no hay dispersion. Si se quisiera hacer análisi temporal deben proveerse fechas reales.

#### 5.4 Consistencia de claves

- **ProductoID:** clave primaria válida, sin duplicados ni nulos.

- **Acción propuesta:**  Asegurar que al importar datos se mantenga integridad referencial. Puede implementarse con constraints.

#### 5.5 Texto libre

- **Diagnóstico:** `Nombre` y `Descripcion` son campos de texto libre.
- **Acción propuesta:** 
  - Validar formato de email.
  - Eliminar espacios dobles o caracteres especiales si existieran.
  - Normalizar nombres (capitalización).


#### 5.6 Tipos de datos

- **Diagnóstico:** `Contraseña`contiene texto.
- **Acción:** Reemplazar texto plano por hashes y nunca almacenar contraseñas en db 

---

**Resumen general:**

| Aspecto           | Acción requerida                      |
| ----------------- | ------------------------------------- |
| Valores nulos     | No                                    |
| Duplicados        | No                                    |
| Outliers          | No relevantes                         |
| Claves            | Asegurar unicidad  en Email y DNI     |
| Texto libre       | Validar y normalizar                  |
| Seguridad         | Hash de contraseñas requerido         |
| Tipos de datos    | Revisar `Email` y `Contraseña`        |
| Fecha de registro | Revisar dispersión / carga automática |